.l__footer {
    background-color: #9D8670;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.l__footer-is-hidden {
    display: none;
}