.l__footer {
    background-color: #9D8670;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media(tb){
        height: 12rem;
    }
    @include media(pc){
        height: 9rem;
    }
}
.l__footer-is-hidden {
    display: none;
}