.p-aside__text--single {
    font-family:"M+ 1m regular";
    font-size: 1.5rem;
    width: 95%;
    @include media(tb) {
        font-size: 1.5rem;
        width:100%;
        margin: 5.5rem 0;
    }
    @include media(pc) {
        font-size: .6rem;
        margin-top: 3rem;
        margin-bottom: 0;
    }
}