.p-aside__heading3--single {
    font-family:"M+ 1m bold";
    font-size: 2rem;
    color: #3C2A10;
    margin: 2.8rem 0;
    @include media(tb) {
        font-size: 2.7rem;
        margin: 8rem 0 5.5rem;
    }
    @include media (pc) {
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}