.p-article__single--bottom-img--js--iswitch{
    width: 80%;
    margin: 4.5rem auto 2rem;
    display: block;
    @include media(tb) {
        margin-bottom: 24rem;
        width: 100%;
    }
    @include media(pc) {
        width:45%;
        margin-bottom: 3rem;
    }
}