.p-button__bottom--single {
    height: 8rem;
    width:100%;
    font-size:1.7rem;
    border-radius: 1.5rem;
    border-width: .1rem;
    color: #707070;
    font-family:"M+ 1m bold";
    @include media(pc) {
    //表の左側と同じ長さ
    font-size: 1rem;
    transform:scale(0.8);
    transform-origin: 0 0;
    //width: 20% / 0.8
    width: 25%;
    }
}