.p-blockquote--single{
    margin: 0;
    font-family:"M+ 1m regular";
    font-size: 1.6rem;
    overflow: hidden;
    @include media(tb) {
        height: auto;
    }
    font-size: 1rem;
}