.p-section__single--img--js--iswitch {
    display: block;
    margin: 2rem auto 1rem;
    width: 100%;
    @include media(tb) {
        margin: 1rem auto 1rem;
        height: auto;
    }
    @include media(pc) {
        width: 32%;
        height: auto;
    }
}

.p-section__single--img--js--iswitch:nth-child(9n){
    @include media(tb) {
        margin: 0 0 2rem;
    }
    @include media(pc) {
        margin: 2rem auto;
    }
}