.p-text2{
    width: 300px;
    height: 100px;
    border-radius:3rem 0 3rem 0;
    border: solid;
    border-color: gray;
    line-height: 7rem;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
    > p {
        margin: 0;
        font-size:1.5rem;
    }
    //疑似要素
    & ::before {
    content:"文字も入れれます";
    color: cadetblue;
    position:absolute;
    top: -20%;
    font-size: 1.2rem;
    }
    & ::after {
    content:"文字も入れれます";
    color:blue;
    position:absolute;
    top: 30%;
    right: 40%;
    font-size: 1.4rem;
    }
}