.p-verticalLine--top--bottom{
    width: 300px;
    height: 100px;
    border-radius:3rem 0 3rem 0;
    border: solid;
    border-color: gray;
    line-height: 7rem;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
    > p {
        margin: 0;
    }
    //疑似要素
    & ::before {
    content:"";
    display: block;
    width: 1rem;
    height: 2rem;;
    background-color:gray;
    position:absolute;
    left: 50%;
    }
}