//ナビメニューのレイアウト部分
.p__nav {
    text-align: left;
    padding-left: 3rem;
    padding-right: 5rem;
    white-space: nowrap;
        & &--wrapper {
            & &--body {
                 background-color: #F2EDE9;
        }
    }
}
//nav--body部分はPCサイズのみ表示させ、それ以外のときは非表示にする
.p__nav {
    display: none;
    @include media(pc){
        display: block;
        background-color:#F2EDE9;
        position: relative;
        z-index: 200;
    }
}
/*サイドメニューの開閉*/
.p__nav-is-open {
    display: block;
    position: absolute;
    right:0;
    z-index: 200;
    background-color:#F2EDE9;
    text-align: left;
    padding-left: 3rem;   
    white-space: nowrap;
    width: 90%;
}


//サイドメニューの大項目
.p__nav--side {
    @extend .p__nav--burger;
}
.p__nav--drink {
    @extend .p__nav--burger;
}
.p__nav--sidemenu {
    @extend .p__nav--burgermenu;
}
.p__nav--drinkmenu {
    @extend .p__nav--burgermenu;
}
