/*ナビゲーションメニュー一旦flexをコメントアウト
.p__header--main {
    display: flex;
    //flexコンテナ内の要素を両端に配置する
    justify-content:  space-between;
}
*/
.p__nav {
    text-align: right;
}

.p__nav--btn {
    margin: 0;
    a {
        text-decoration:none;
        span{
        @include header--title--menu(2rem);
        }
    } 
}

//サイドメニューの大項目
.p__nav--side {
    @extend .p__nav--burger;
}
.p__nav--drink {
    @extend .p__nav--burger;
}
