/*ナビゲーションメニュー一旦flexをコメントアウト
.p__header--main {
    display: flex;
    //flexコンテナ内の要素を両端に配置する
    justify-content:  space-between;
}
*/
.p__nav {
    text-align: right;
    background-color: rgba(0,0,0,0.5);
    background-color: #F2EDE9;
}
.p__nav--btn {
    margin: 0;
    a {
        text-decoration:none;
        span{
        @include header--title--menu(2rem);
        }
    } 
}

//nav--body部分はPCサイズのみ表示させ、それ以外のときは非表示にする
.p__nav--body {
    display: none;
    @include media(pc){
        display: block;
        background-color:#F2EDE9;
    }
}

//サイドメニューの大項目
.p__nav--side {
    @extend .p__nav--burger;
}
.p__nav--drink {
    @extend .p__nav--burger;
}
