//メニュータイトルのextend
/*navメニューの品目部分*/
 .p__nav--burger {
    /*htmlが16pxなので24px　必要に応じて割合調整*/
    font-size:1.4rem;
    color:#707070;
    font-family:"M+ 1m bold";
}

/*navメニューの内訳部分*/
.p__nav--burgermenu {
    /*品目部分より文字が小さいため1remで*/
    font-size:1.2rem;
    color:#707070;
    font-family:"M+ 1m bold";
    //少し右にずれているので
    padding-left: 1rem;
    padding-top: 1.1rem;
    padding-bottom: 1.2rem;
    line-height: 3rem;
}

/*article eatin takeout*/
.p__heading {
    font-size: 6rem;
    color: #EAEAEA;
    font-family: "Roboto", sans-serif;
    position: relative;
    padding-left: 1rem;
    margin-top: .9rem;
        &::before {
            content:"";
            position: absolute;
            left: 2rem;
            /*線の上下位置*/
            bottom: -15px;
            width: 4.5rem;
            height: .5rem;
            background-color:#fff;
        }
}