.c-article__button {
    position: absolute;
    border-radius: 10rem;
    width:40%;
    height:4rem;
    left: calc(50% - (40% / 2));
    border-style: none;
    color:#707070;
    font-family: "M+ 1m bold";
    font-weight: bold;
    //textから下部分が10remの為その半分
    margin-top: 3rem;
    @include media(pc) {
        font-size: 1rem;
        width: 50%;
        left: calc(50% - (50% / 2));
    }
}