.c-article__button {
    $buttonWidth: 40%;
    position: absolute;
    border-radius: 10rem;
    width:$buttonWidth;
    height:4rem;
    left: calc(50% - (40% / 2));
    //textから下部分が10remの為その半分
    margin-top: 3rem;
}