/*mapのtext部分*/
.c__aside--text {
    color: #fff;
    position: absolute;
    margin-top: 9rem;
    margin-right: 2rem;
    font-family: "M+ 1m bold";
    font-weight: bold;
    line-height: 2.5rem;
    font-size: 1.1rem;
    overflow: hidden;
    @include media(tb) {
        margin-top: 1rem;
        margin-right: 1rem;
    }
    @include media(pc) {
        margin-top: 12rem;
        margin-right: 8rem;
    }
}   